.form-section,
.sub-form {
  display: grid;
  gap: 0.5rem;
}

.form-field {
  display: grid;
  gap: 0.25rem;
}

.label {
  font-weight: 600;
}

.input,
.text-area {
  border: 1px solid var(--font-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--font-color);
}

.input:hover,
.text-area:hover {
  background-color: var(--secondary-light-color);
}

.input:focus,
.text-area:focus {
  outline: 1px solid var(--font-color);
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.text-area {
  height: 100px;
  resize: vertical;
}

.sub-form {
  position: relative;
}

.button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.button.button-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.button.button-delete {
  font-size: 0.9rem;
  position: absolute;
  top: 2;
  right: 0;
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
  border-radius: 0;
  transition: font-weight 200ms ease;
}

.button.button-delete:hover,
.button.button-delete:focus {
  background-color: transparent;
  font-weight: 500;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:is(:focus, :focus-within) + .button {
  background-color: var(--secondary-color);
  color: var(--font-color);
}
